<div class="modal-dialog" role="document">
    <!-- <div class="modal-content"> -->
    <div class="kw-modal ">
        <button type="button" class="arcticmodal-close kw-modal-close" data-dismiss="modal"></button>
        <header class="kw-modal-header">
            <h3><%=headerName%></h3>
        </header>
        <!-- - - - - - - - - - - - - - End of Header - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
        <div class="kw-modal-content">
            <div class="kw-entry-share">
                <ul href="" class="kw-social-links kw-type-3">
                    <li><a href="https://www.facebook.com/sharer.php?u=<%=BASE_URL+'details/'+data.uniqueKey%>" class="kw-facebook" target="_blank" style="color: #FFFFFF;"><i class="fa fa-facebook"></i>Facebook</a></li>
                    <li><a href="https://twitter.com/share/?via=contractors.bio&url=<%=BASE_URL+'details/'+data.uniqueKey%>" class="kw-twitter" target="_blank" style="color: #FFFFFF;"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li><a href="https://plus.google.com/share?url=<%=BASE_URL+'details/'+data.uniqueKey%>" class="kw-google" target="_blank" style="color: #FFFFFF;"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=<%=BASE_URL+'details/'+data.uniqueKey%>" class="kw-linkedin" target="_blank" style="color: #FFFFFF; background: #0077B5;"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
