<!DOCTYPE html>
<html>

<head>
    <title>Map demo</title>
    <style type="text/css" media="screen">
    #map_wrapper {
        height: 600px;
    }

    #map_canvas {
        width: 100%;
        height: 100%;
    }
    </style>
</head>

<body>
    <div id="map_wrapper">
        <div id="map_canvas" class="mapping"></div>
    </div>
    <script type="text/javascript" src="<%=BASE_URL+'js/jquery-1.11.1.min.js'%>"></script>
    <!-- jquery -->
    <script type="text/javascript" charset="utf-8" async defer>
    jQuery(function($) {
        // Asynchronously Load the map API 
        var script = document.createElement('script');
        script.src = "//maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
        document.body.appendChild(script);
    });

    function initialize() {
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap'
        };

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);

        // Multiple Markers
        /*var markers = [
            {title: 'London Eye, London', lat: 51.503454, long: -0.119562},
            {title: 'Palace of Westminster, London', lat: 51.499633, long: -0.124755}
        ];*/

        // Info Window Content
        var infoWindowContent = [];

        var settings = {
          url: '<%= BASE_URL + "search?q=8000"%>',
          method: "GET"
        }

        $.ajax(settings).done(function (response) {
            console.log("------ response: ",response);
            var markers = response.docs;
            console.log("markers: ", markers);

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            for (i = 0; i < markers.length; i++) {
                infoWindowContent.push({ 
                    popup: '<div class="info_content">' +
                    '<h3>' + markers[i]["name"] + '</h3>' +
                    '<p> This store is type of ' + markers[i]["type"] + '</p>' + '</div>'
                })
            }

            // Loop through our array of markers & place each one on the map  
            for (i = 0; i < markers.length; i++) {
                var position = new google.maps.LatLng(markers[i]['location']['coordinates'][1], markers[i]['location']['coordinates'][0]);
                bounds.extend(position);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: markers[i]['name'],
                    icon: markers[i]['type'] == "Dealership"
                                                ? "<%= BASE_URL+'img/workshop-ico.jpg'%>"
                                                : "<%= BASE_URL+'img/dealer-ico.jpg'%>"
                });

                // Allow each marker to have an info window    
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infoWindow.setContent(infoWindowContent[i]['popup']);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

                // Automatically center the map fitting all markers on the screen
                map.fitBounds(bounds);
            }

            // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
            var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
                this.setZoom(14);
                google.maps.event.removeListener(boundsListener);
            });
        });


        

    }
    </script>
</body>

</html>