<% include ./partials/header.html %>
    <!-- Header Area Start 
    ====================================================== -->
    <header class="header-area-inner">
        <% include ./partials/top-head.html %>
            <!-- Start: main Header -->
            <div class="main-head store-banner" style="background: url(<%=((data.store && data.store.makeId && data.store.makeId.brandingImage) ? BASE_URL+data.store.makeId.brandingImage : BASE_URL)%>), url(<%=BASE_URL%>img/store-head-bg.jpg);">
                <% include ./partials/menu-area.html %>
                    <!-- Start: Banner Area -->
                    <% include ./partials/faq-head.html %>
                    <!-- Start: Banner Area -->
            </div>
            <!-- Start: main Header -->
    </header>
    <!-- =================================================
    Header Area End -->
    <!-- Breadcrumb Area Start
    ====================================================== -->
    <section class="breadcrumb-main">
        <div class="container">
            <ul class="crumb">
                <li><a href="<%=BASE_URL%>">Home</a></li>
                <li class="active"><a href="javascript:;">Help centre</a></li>
            </ul>
        </div>
    </section>
    <!-- =================================================
    Breadcrumb Area End -->
    <!-- FAQ Content Area Start 
    ====================================================== -->
    <section class="who-we-are">
        <div class="container clearfix">
            <!-- Start: Help Container -->
            <div class="help-container">
                <div class="help-title clearfix">
                    <h3><%=data.categoryName%></h3>
                    <!--<a href="#" class="button-with-shadow">Show All Articles</a>-->
                </div>
                <div class="help-result-all">
                    <ul class="faq-help-list">
                    <% data.questions.forEach(function(question,index){%>
                        <li>
                            <a href="javascript:;" onclick="viewAnswer(<%=JSON.stringify(question.title)%>,<%=JSON.stringify(question.description)%>)">
                                <%=question.title%>
                            </a>
                        </li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
        <div id="modal-container">
        </div>
    </section>
    <!-- =================================================
    FAQ Content Area End -->
    <!-- Footer Area Start 
    ====================================================== -->
    <% include ./partials/footer.html %>
        <script type="text/javascript">
        function viewAnswer(question, answer) {
            html = '<div class="modal fade" id="answerModel" role="dialog">\
                <div class="modal-dialog modal-sm">\
                    <div class="modal-content">\
                        <div class="modal-header">\
                            <button type="button" class="close" data-dismiss="modal">&times;</button>\
                            <h5 class="modal-title">' + question + '</h5>\
                        </div>\
                        <form action="javascript:;">\
                            <div class="modal-body">' + answer + '</div>\
                             <div class="modal-footer">\
                                <button class="green-btn-01" type="button" data-dismiss="modal">Close</button>\
                            </div>\
                        </form>\
                    </div>\
                </div>\
            </div>';
            $('#modal-container').html(html);
            $('#answerModel').modal();
        }
        </script>