<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div style="margin:0;padding:0;background:#534a6c!important">
    <table bgcolor="#1C2542" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0">
      <tbody><tr>
        <td align="center" style="padding:40px 20px 48px 20px">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="border-collapse:collapse;border-spacing:0">
            <tbody><tr>
              <td style="font-size:0">&nbsp;</td>
              <td width="480">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0">
                  <tbody><tr>
                    <td align="center" style="padding-bottom:32px">
                       <a href="{{url}}" style="text-decoration: none;"><span style="padding: 35px 0 0 0;margin: 0 0 0 0;  font-size: 24px;font-weight: 800;font-style: italic;color: #ffffff;text-transform: uppercase;  "><center><img src="{{logo}}" alt=""></center></span></a>

                      </td>
                    </tr>
                  </tbody></table>
                </td>
                <td style="font-size:0">&nbsp;</td>
              </tr>
            </tbody></table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="border-collapse:collapse;border-spacing:0">
              <tbody><tr>
                <td style="font-size:0">&nbsp;</td>

                <td style="font-size:0">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:0">&nbsp;</td>
                <td width="480">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0">
                    <tbody><tr>
                      <td bgcolor="#ffffff" class="" style="background:rgba(255,255,255,0.9);color:#4a4956;font-family:'Open Sans',Verdana,Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;padding:26px">
                      <span style="font-size:24px">Hello {{authName}}, </span>
                       <br><br>
                        You have new updates on your {{event}} 
                        <br><br>
                        {{post}} <a href="{{{postLink}}}" style="text-decoration: none;">Read more></a>
                        <br><br>
                        {{userName}} has {{action}} your {{event}}.
                        <br><br>
                        Thanks and Regards,<br>
                        <a href="{{url}}" style="text-decoration: none;">brandlabel.in</a>
                       
                       
                      </td>
                    </tr>
                    <tr>
                     
                      
                    </tr>
                    
                  </tbody></table>
                </td>
                <td style="font-size:0">&nbsp;</td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
   
                   </div>
</body>
</html>