<% include ./../partials/header.html %>
    <!-- Header Area Start 
    ====================================================== -->
    <header class="header-area-inner">
        <% include ./../partials/top-head.html %>
            <!-- Start: main Header -->
            <div class="main-head about-banner">
                <div class="menu-area">
                    <% include ./../partials/menu-area.html %>
                </div>
                <!-- Start: Banner Area -->
                <div class="banner-main">
                    <div class="container">
                        <h1>Privacy Policy</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    </div>
                </div>
                <!-- Start: Banner Area -->
            </div>
            <!-- Start: main Header -->
    </header>
    <!-- =================================================
    Header Area End -->
    <!-- Breadcrumb Area Start
    ====================================================== -->
    <section class="breadcrumb-main">
        <div class="container">
            <ul class="crumb">
                <li><a href="<%=BASE_URL%>">Home</a></li>
                <li class="active"><a href="javascript:;">Privacy Policy</a></li>
            </ul>
        </div>
    </section>
    <!-- =================================================
    Breadcrumb Area End -->
    <!-- Who We Are Area Start 
    ====================================================== -->
    <section class="who-we-are">
        <div class="container clearfix">
            <div class="header-div">
                <h3>Privacy Policy 555</h3></div>
            <div class="left-content">
                <p>Before we get ahead of ourselves, we want to welcome you to Brand Label. While nothing can replace thing on-the-lot experience. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts.</p>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
            </div>
            <div class="right-content"><img src="img/about-img.jpg" alt=""></div>
        </div>
    </section>
    <!-- Footer Area Start 
    ====================================================== -->
    <% include ./../partials/footer.html %>